{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="shortcut icon" type="image/jpg" href="{% static 'img/favicon.ico' %}"/>


    <title>Hyper Comics</title>
</head>
<body>

    {% include "nav.html" %}

 <div>
     {% block content %}
     {% endblock %}
 </div>
    {% include "footer.html" %}   
<script src="{% static 'js/main.js' %}"></script>    
</body>
</html>