{% extends "base.html" %}
{% block content%}
<h1> {{issue.name}} - Issue: {{issue.issue_number}} </h2>
        <img src="{{ issue.image.thumb_url }}" alt="">


  {% if issue.description is not None %}
  {% autoescape off %}
{{issue.description}}
{% endautoescape %}
    {% else %}
    <p> No Description Available </p>
    {% endif %}

    {% comment %}
    <a href = "{% url 'comicinfo' id=issue.id %}"> <button>add</button></a>
    <button type="submit">Add to my favorites</button>
    <form action="{% url 'profile_view' username=request.user.username %}" method="POST">
    </form>
    {% endcomment %}

      {% csrf_token %}
    <a href="{% url 'favorite_view' id=issue.id %}">
      <button>Add to Favorites</button>
    </a>

    <a href="{% url 'add_comment' id=book.id %}">
      <button>Comment</button>
    </a>

    

    







{% endblock %}