{% extends "base.html" %}
{% block content%}
<h1> {{book.name}} - Issue: {{book.issue_number}} </h2>
        <img src="{{ issue.image.thumb_url }}" alt="">


  {% if book.description is not None %}
  {% autoescape off %}
{{book.description}}
{% endautoescape %}
    {% else %}
    <p> No Description Available </p>
    {% endif %}

    {% comment %}
    <a href = "{% url 'comicinfo' id=issue.id %}"> <button>add</button></a>
    <button type="submit">Add to my favorites</button>
    <form action="{% url 'profile_view' username=request.user.username %}" method="POST">
    </form>
    {% endcomment %}

      {% csrf_token %}
    <a href="{% url 'favorite_view' id=book.id %}">
      <button>Add to Favorites</button>
    </a>
    <hr>
    <ul>
      {% for comment in comments%}
      <li>{{ comment.comment }} | {{ comment.user }} <br> {{ comment.created_at }}</li><hr>
      {% endfor %}
    </ul>

    <a href="{% url 'add_comment' id=book.id %}">
      <button>Comment</button>
    </a>

      {% if not book.is_checked_out %}
        <a href="{% url 'checkout_view' id=book.id %}">
        <button>Checkout</button>
        </a>
      {% else %}
        <p>This book is checked out. Place hold?</p>
        <a href="{% url 'hold_view' id=book.id %}">
        <button>Place on hold</button>
      </a>
      {% endif %}
    

    

    







{% endblock %}