{% extends "base.html" %}
{% block content%}
<div class='nes-container with-title comicdetailbox'>
<div class="comic-box">
<div class="comicheader">
<img src="{{ book.lg_image }}" alt="">
</div>
<div class='description'>
<hr>

<div class='nes-text' style="font-weight: bold"> {{book.name}} - Issue: {{book.issue}} </div>
<hr>
  {% if book.description is not None %}
  {% autoescape off %}
{{book.description}}
{% endautoescape %}
    {% else %}
    <p> No Description Available </p>
    {% endif %}
</div>
</div>
</div>
    {% comment %}
    <a href = "{% url 'comicinfo' id=issue.id %}"> <button>add</button></a>
    <button type="submit">Add to my favorites</button>
    <form action="{% url 'profile_view' username=request.user.username %}" method="POST">
    </form>
    {% endcomment %}

      {% csrf_token %}
      {% if request.user.is_authenticated%}
    <a href="{% url 'favorite_view' id=book.id %}">
      <button>Add to Favorites</button>
    </a>
    <hr>
    <div class='nes-container with-title commentbox'>
    <span class='title'>Comments</span>
      {% for comment in comments %}
      <div class='nes-container is-rounded commentcard'>
      <div>{{comment.user.display_name}} | <a href='/profile/{{comment.user}}' >@{{ comment.user }}</a></div>
      <div>{{ comment.comment }}</div>
      <div>{{ comment.created_at }}</div>
      </div>
      {% endfor %}
    </div>
      {% if request.user.is_authenticated%}
    <a href="{% url 'add_comment' id=book.id %}">
      <button>Comment</button>
    </a>

      {% if not book.is_checked_out %}
        <a href="{% url 'checkout_view' id=book.id %}">
        <button>Checkout</button>
        </a>
      {% else %}
        <p>This book is checked out. Place hold?</p>
        <a href="{% url 'hold_view' id=book.id %}">
        <button>Place on hold</button>
      </a>
      {% endif %}

    {% endif %}
      
      {% else %}
        <div class='nes-container'>
        <span class='nes-text'> Login / Signup to see if this comic is avaliable and to leave a comment</span>
        </div>
      <div class='nes-container with-title commentbox'>
    <span class='title'>Comments</span>
      {% for comment in comments %}
      <div class='nes-container is-rounded commentcard'>
      <div>{{comment.user.display_name}} | <a href='/profile/{{comment.user}}' >@{{ comment.user }}</a></div>
      <div>{{ comment.comment }}</div>
      <div>{{ comment.created_at }}</div>
      </div>
      {% endfor %}
    </div>
      {% endif %}

    

    







{% endblock %}