{% extends "base.html" %}
{% block content %}
<div>
 Welcome {{user.display_name}}
</div>
<div>
<h2> Your Favorites </h2>
    {% for favorite in user.favorites.values %}
   <div>
   <img src='{{favorite.image}}' alt='comic image'/>
        <a href="/comicinfo/{{issue.id}}">
            {{favorite.name}}
        </a>
        <p>Author: {{favorite.author}}
        <div><h6>Description</h6>
         {% autoescape off %}
        <p>{{favorite.description}}</p>
        {% endautoescape %}
        </div>
    </div>
    {% endfor %}
<div>
{% endblock %}
