{% extends "base.html" %} {% block content %}
<div class='profileinfopage'>
<div class="nes-container with-title">
  <span class="title">Profile Info</span>
  Username: {{user.username}} <br />
  Email: {{user.email}} <br />
  Display Name: {{user.display_name}}<br />
  Date Joined: {{user.created_date}}<br />
  <div>Bio: {{user.bio}}</div>
</div>
{% if checked_comic %}
<div class="nes-container with-title">
<span class="title">Currently Checked Out</span>
  <div onclick="location.href='/comicinfo/{{checked_comic.id}}/'" class="nes-container comicdetails is-rounded">
        <img src="{{checked_comic.image}}" alt="comic image" />
        <div class="comicinfo">
          <span class='nes-text is-primary'> {{checked_comic.name}}</span>
          <span class="nes-text"> Author: {{checked_comic.author}}</span>
        </div>
</div>
<a href="{% url 'add_comment' id=checked_comic.id %}">
 <button class='nes-btn' type='submit'>Comment on Comic</button></a>
  <button class='nes-btn disabled' type='submit'>Return Comic</button>
</div>
{% else %}
<div class="nes-container with-title">
<span class="title">Currently Checked Out</span>
      <p class='nes-text'>You currently have no comics checked out.</p>
        </div>
{% endif %}
</div>
</div>
<div class="nes-container profilebox">
  <div class="nes-container with-title">
    <span class="title">{{user.display_name}}'s Favorite Comics</span>
    <div class="favcom">
      {% for favorite in user.favorites.values %}
      <div onclick="location.href='/comicinfo/{{favorite.id}}/'" class="nes-container comicdetails is-rounded">
        <img src="{{favorite.image}}" alt="comic image" />
        <div class="comicinfo">
          <span class='nes-text is-primary'> {{favorite.name}}</span>
          <span class="nes-text"> Author: {{favorite.author}}</span>
        </div>
      </div>
      {% endfor %}
      </div>
              </div>
              <div class="nes-container with-title">
    <span class="title">{{user.display_name}}'s Hold List</span>
    <div class="favcom">
      {% for hold in holds %}
        <div class="nes-container comicdetails">
        <img src="{{hold.image}}"/>
        <div class="comicinfo">
        <a href="/comicinfo/{{hold.id}}/"> {{hold.name}} </a>
        {% comment %} <p>Author: {{hold.author}}</p> {% endcomment %}
        </div>
      </div>
      {% endfor %}
      </div>
              </div>
          </div>
                {% endblock %}